@font-face {
    font-family: 'Formular';
    src: local('Formular'), local('Formular'),
        url('../fonts/Formular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular Medium'), local('Formular-Medium'),
        url('../fonts/Formular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular Bold'), local('Formular-Bold'),
        url('../fonts/Formular-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
