{% extends 'settings.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
	<div class="main-wrapper default-card">
		<div class="settings-form m-auto">
			<div class="settings-title">Profile settings</div>
			<form method="post" id="settings-profile-form">
				<div class="form-group flex flex-column">
					<input class="input-default" id="full-name" type="text" name="username" value="{{ app.user.fullName }}">
					<label for="username">Username</label>
					<div class="error-tip">Wrong format</div>
					<span class="settings-tip">Used for messege you correctly</span>
				</div>
				<div class="form-group flex flex-column">
					<input class="input-default" id="email" type="email" name="email" value="{{ app.user.email }}">
					<label for="email">Email address</label>
					<div class="error-tip">Wrong format</div>
					<span class="settings-tip">Please enter the email associated to your Dribbble account</span>
				</div>

				<div class="divider-dark"></div>

				<div class="section-title">Password</div>
				<div class="form-group password-group">
					<input class="input-default" id="old-password" type="password" name="old-password">
					<label for="old-password">Old password</label>
					<div class="error-tip">Wrong password</div>
					<div class="form-show"></div>
				</div>
				<div class="form-group password-group">
					<input class="input-default" id="new-password" type="password" name="password">
					<label for="password">Password</label>
					<div class="error-tip">Wrong password</div>
					<div class="form-show"></div>
				</div>
				<ul class="list-unstyled restore-list">
					<li>At least 8 characters</li>
					<li>At least one number or symbol</li>
					<li>Both uppercase and lowercase letters</li>
				</ul>
				<div class="btn-group">
					<button class="button button-default" id="save-changes-btn" type="submit">Save changes</button>
				</div>
			</form>
			<div class="divider-dark"></div>
			<form method="post">
				<div class="section-title">Connected accounts</div>
				<div class="form-group form-connect">
					<input class="input-default" id="dribbble" type="text" name="dribbble" value="https://dribbble.com/Montycor" disabled>
					<label for="dribbble">Dribbble</label>
					<div class="error-tip">Wrong format</div>
					<div data-toggle="modal-cancel-connected" class="modal-toggle form-exit"></div>
				</div>
				<div class="form-group form-connect">
					<input class="input-default" id="behance" type="text" name="behance" value="Soon" disabled>
					<label for="behance">Behance</label>
					<div class="error-tip">Wrong format</div>
				</div>
				<div class="form-group form-connect">
					<input class="input-default" id="instagram" type="text" name="instagram" value="Soon" disabled>
					<label for="instagram">Instagram</label>
					<div class="error-tip">Wrong format</div>
				</div>
			</form>
			<div class="divider-dark"></div>
			<form method="post">
				<div class="btn-group settings-group">
					<div class="group-title">
						Connected Accounts
					</div>
					<div class="group-description">
						Delete your account and account data
					</div>
					<a href="#" data-toggle="modal-delete" class="modal-toggle button button-default button-warning text-center">Close account</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block modals %}
	
	<div id="modal-delete" class="modal m-auto">
		<a href="#" class="button-close modal-close"></a>
		<div class="modal-image user"></div>
		<div class="modal-title text-center">Are you sure to Close your Account?</div>
		<div class="modal-description text-center">All account information will be lost!</div>
		<div class="divider-dark"></div>
		<div class="btn-group modal-btn__group grid">
			<a href="#" class="button button-grey text-center">Close Account</a>
			<a href="#" class="button button-default text-center modal-close">Cancel</a>
		</div>
	</div>
	<div id="modal-cancel-connected" class="modal m-auto">
		<a href="#" class="button-close modal-close"></a>
		<div class="modal-image cancel"></div>
		<div class="modal-title text-center">Are you shure to delete connected Dribbble account <span>boro_uiux</span>?</div>
		<div class="divider-dark"></div>
		<div class="btn-group modal-btn__group grid">
			<a href="#" class="button button-grey text-center">Yes</a>
			<a href="#" class="button button-default text-center modal-close">No</a>
		</div>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$('#save-changes-btn').click(function (e) {
			e.preventDefault();

			let fullName = checkField('full-name');
			let email = checkField('email');
			let oldPassword = checkField('old-password');
			let newPassword = checkField('new-password');

			if (!fullName || !email || !oldPassword || !newPassword) {
				return false;
			}

			console.log('submitting...');

			$('#settings-profile-form').submit();

			console.log('click');
		});
	</script>
{% endblock %}

